
.heading{
  display: flex;
  justify-content: center;
  height: 50vh;
}
.form{
  display: flex;
  justify-content: center;
}
.formdiv{
  margin: 0 20px 0 20px;
}
#new-task{
  padding: 10px 30px ;
  border-radius: .7em;
}
button{
  padding: 10px 15px;
  border-radius: .7em;
}
#todo-list{
  display: flex;
  justify-content: center;
}

/* dark theme  */
@media screen and (prefers-color-scheme: dark) {
  h1, #add-task, p, #new-task {
    color: #dad4d4;
  }
  *{
    background-color: #2b2a2a;
  }
}
@media screen and (prefers-color-scheme: light) {
  p {
    color: #000;
    background-color: #fff;
  }
}