
.heading{
  display: flex;
  justify-content: center;
  height: 50vh;
}
.form{
  display: flex;
  justify-content: center;
}
.formdiv{
  margin: 0 10px 0 10px;
  display: flex;
}
#new-task{
  padding: 10px 30px ;
  border-radius: .7em;
}
button{
  padding: 10px 15px;
  border-radius: .7em;
  margin-left: 50px;
}
#todo-list-ul{
  position: absolute;
  top: 60vh; left: 40vw;
}
#todo-list{
  display: flex;
  flex-direction: column;
}

#ul_div{
  display: flex;
}
#todo_list{
  justify-content: center;
}
/* dark theme  */
@media screen and (prefers-color-scheme: dark) {
  h1, #add-task, p, #new-task #todo-list #todo-list-ul {
    color: #dad4d4;
  }
  *{
    background-color: #2b2a2a;
  }
}
@media screen and (prefers-color-scheme: light) {
  p {
    color: #000;
    background-color: #fff;
  }
}